html, body {
    background-color: rgb(155, 252, 238);
    height: 100%;
    font-family: system-ui; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 900px;
    margin-bottom: 300px;
    clear: both;
}


table{
    /* background-color: rgba(226, 113, 61, 0.379);
     */
    display: inline-block;
    margin: 2 auto;
}

p{
    display: inline-block;
    color: #0e234a;
    border: #8fade4;
    border-style: solid;
    border-width: 3px;
    padding: 10px;
    background-color: bisque;

}
#tal{
    column-width: 200px;
}

nav {
    background-color: #f55e06;
    /* color: white; */
    font: 1em sans-serif;
}

.navbar {
    position: fixed; /* Position fixe */
    top: 0; /* colle au top de la page */
    left: 0;
    width: 100%; 
    z-index: 1000; /* bar de navigation reste au dessus des autres contenus... */
}



.nav-link:hover {
    color: rgb(31, 149, 153); /* Optional: change color on hover */
}

/* couleur de fond bouton */
.btn-primary {
    background-color: #20b4b7; 
    border-color: #093a2c; 
}

.home-page {  

    background-image: url('../images/home.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0; 
    padding: 0; 
    height: 100vh; /* remplit la hauteur de la fenêtre */
    width: 100vw; /* remplit la largeur de la fenêtre */

}


body.user-analysis-page {
    background-color: antiquewhite;
    /* background-image: url("../images/userAnalysis.jpg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0; 
    padding: 0; 
    height: 100vh; 
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-input-page{
    background-color: antiquewhite;
    background-image: url("../images/userInput.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0; 
    padding: 0; 
    height: 100vh; 
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.graphique-page{

    background-color: antiquewhite;
    background-image: url("../images/measure.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0; 
    padding: 0; 
    height: 100vh; 
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contact-page{
    background-color: antiquewhite;
    background-image: url("../images/sentiments.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0; 
    padding: 0; 
    height: 100vh; 
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer {
    background-color: #efe4e4;
    text-align: center;
    padding: 5px 0;
    position: fixed; 
    left: 0;
    bottom: 0; 
    width: 100%; 
    height: 50px; 
}

.content {
    flex:1;
    padding-bottom: 100px;
    padding-top: 100px; /*espace en dessous de bar de navigation */  

}

#graphContent {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.graph-box {
    border: 1px solid #b43304;
    padding: 20px;
    flex: 1;
    text-align: center;
}

/* class=graphique-page */

.graphique-page {
    background-color: darkblue;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}